.txt1C{
    font-size: 30px !important;
    margin: 30px; 
    padding: 30px;   
    color:#d37903d5     
}

.txt2C {
    text-align: center !important;
    font-size: 40px;
    color: #00640070
    ;
}

.margem {
    margin-left: 110px;
}