.cursor {
    cursor: pointer;
    color: #816e33;
}

.text-decorator-none {
    text-decoration: none;
    
}

.logout{
 align-items: flex-end;
}

.teste {
    background-color: #abbb72 !important;
    padding: 20px;
   
}

.direita {
    margin-left: 90px;
}

.direita2 {
    margin-left: 480px;
    text-decoration: none;
}