.titulo {
    color: blue;
    text-align: center;
}

.img {
    align-items: center;
    width: 300px;
    height: 100px;
    display: block;
    margin: 0 auto;
    padding-right: 400px;

}

.text-decorator-none {
    text-decoration: none;
}

.tx3 {
    color: #BD8A44 !important;
    font-weight: bold !important;
}

.tx4 {
    color: #BD8A44 !important;
    
}

.nvpost{
    border-color: white !important;
    background-color: #6B8E23 !important;
    color: white !important;
}
